######################
# Latex files
######################
# Core latex/pdflatex auxiliary files:
*.aux
*.cb
*.cb2
*.fls
*.fmt
*.fot
*.lo*
*.out
*.toc

# Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.*
*.brf
*.run.xml

# Intermediate files:
*.dvi
*-converted-to.*
*.ps

# Build tool auxiliary files:
*.fdb_latexmk
*.synctex*
*.pdfsync

# Beamer files:
*.nav
*.pre
*.snm
*.vrb

# Makeidx files:
*.idx
*.ilg
*.ind
*.ist

# Glossaries files:
*.acn
*.acr
*.glg
*.glo
*.gls
*.glsdefs

# Editors files:
*.*~
*.backup
*.bak
*.sav

######################
# Packages
######################
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

######################
# OS files
######################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
