name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          sudo apt -y install make
          sudo apt -y install latexmk
          sudo apt -y install texlive
          sudo apt -y install texlive-lang-portuguese
          sudo apt -y install texlive-latex-extra
          sudo apt -y install texlive-publishers
          sudo apt -y install texlive-science
          sudo apt -y install texlive-xetex

      - name: Build latex project
        run: make
      
      - name: Clean latex project
        run: make clean
